html,
body {background-color: yellowgreen;}
.jumbotron {
    color: yellow;
}
.well {
    color: black;
}
.panel-primary {
    color: black;
}
p {
    text-align: center;
}
#intro {
    font-size: large;
}